html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuente_principal);
    font-size: 1.6rem;
    line-height: 1.8;
    background: var(--dark);
}

.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

img {
    width: 100%;
}

p {
    margin: 0;
    color: #E9E9EC;
    font-family: var(--font-mulish);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: var(--regular);
    line-height: normal;
    letter-spacing: 0.35px;
}

a {
    text-decoration: none;
    color: #E9E9EC;
    font-family: Mulish;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: var(--regular);
    line-height: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    color: #E9E9EC;
}

h1,
h2,
h3 {
    margin: 0;
    color: #E9E9EC;
}

button {
    border: none;
    background: transparent;
    margin: 0;
    cursor: pointer;
}